#booknow{
    display: inline-block;
    margin-top: 25px;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    padding: 15px 20px;
    background-color: #f8c12c;
    transition: all 0.5s ease;
    &:hover{
       background-color: #c59614;
    }
}
header{
    nav{ 
        width: 78%;
        position: fixed;
        // margin: 0px 50px;
        z-index: 9999;
        margin-top: 15px;
        
        ul{
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            background-color: #f8c12c;
            border-radius: 5px;
            li{
            padding: 15px 0;
                transition: all .5s ease;
                &:hover{
                    background-color: #dfa917;
                    color: white;
                }
               font-weight: 500;
               font-size: 20px;
               color: black; 
               font-family: 'Fraunces', serif;
            }
        }
    }

    section{
        height: 100vh;
        position: relative;
        img{
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100vh;
        }
        .overlay{
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.500);
            z-index: 2;
            height: 100%;
        }
        .content{
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 4;
            transform: translate(-50%,-50%);
            text-align: center;
            h1{
                margin-top: 20px;
               font-family: 'Fraunces', serif;
               font-weight: 700;
               font-size: 50px;
                color: white;
                span{
                    color: #f8c12c;
                }
            }
            p{
                margin-top: 20px;
                color: white;
                font-size: 18px;
            }
        }
    }
}

.about-us-index{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left-aside-about-us{
        width: 48%;
        span{
            display: inline-block;
            font-size: 16px;
            color: #c59614;
            margin-bottom: 7px;
        }
        h2{
            font-weight: 500;
            font-size: 40px;
            font-family: 'Fraunces', serif;
            margin-bottom: 15px;
        }
        p{
            font-size: 14px;
            color: #aaa;
        }
    }
    .right-aside-about-us{
        width: 48%;
        img{
            width: 100%;
            border-radius: 5px;
        }
    }
}

.about-cards-index{
    margin-bottom: 100px;
    ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        li{
            text-align: center;
            width: 400px;
            height: 250px;
            border-radius: 7px;
            background-color: #ffbc02;
            .about-us-index-icon{
                img{
                    margin-top: 40px;
                    width: 100px;
                    height: 100px;
                    padding: 15px;
                    border: 2px solid white;
                    border-radius: 50%;
                }
            }
            span{
            color: white;
                font-size: 25px;
            }
        }
    }
}



.customer-review-wrapper{
    background-color: rgb(32, 32, 32);
    border-radius: 25px;
    padding: 100px 0;
    margin-bottom: 80px;
    .customer-review{
        ul{
            display: flex;
            justify-content: space-around;
            align-items: center;
            li{
                background-color: black;
                border-radius: 11px;
                width: 373px;
                padding: 30px;
                p{
                    color: rgb(192, 192, 192);
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 400;
                    margin-bottom: 25px;
                }
                .review{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .customer{
                        display: flex;
                    }
                    &__img{
                        img{
                            width: 60px;
                            height: 60px;
                            border-radius: 50%;
                            margin-right: 20px;
                        }
                    }
                    &__about{
                        align-items: center;
                        position: relative;
                        strong{
                            margin-top: 9px;
                            white-space: nowrap;
                            color: white;
                            font-size: 18px;
                            font-weight: 600;
                            line-height: 27px;
                            display: block;
                            position: absolute;
                            top: 0;
                        }
                        span{
                            margin-bottom: 9px;
                            position: absolute;
                            bottom: 0;
                            display: block;
                            color: rgb(192, 192, 192);
                            font-size: 14px;
                            font-weight: 300;
                            line-height: 21px;
                        }
                    }
                    &__icon{
                        i{
                            font-size: 60px;
                            color: #FFBA00;
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1400px) {
    .about-cards-index{
        ul{
            li{
                margin-top: 30px;
                width: 48%;
                &:last-child{
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 1025px) {
    .customer-review-wrapper{
        .customer-review{
            ul{
                display: block !important;
                li{
                    width: 100% !important;
                    &:not(:last-child){
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }


    

}



.section-title{
    text-align: center;
    width: 600px;
    margin: 0 auto;
    h2{
        font-size: 42px;
        line-height: 42px;
        font-weight: 600;
        position: relative;
        padding-bottom: 70px;
        color: white;
        &::before{
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 4px;
            width: 130px;
            background-color: #FFBA00;
            margin-bottom: 40px;
        }
    }
    p{
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: rgb(192, 192, 192);
        margin-bottom: 30px;
    }
    
}




@media screen and (max-width: 426px){
    .section-title{
        width: 100% !important;
        h2{
            margin-top: 30px;
            font-size: 25px !important;
            line-height: 25px !important;
        }
        p{
            font-size: 14px !important;
            line-height: 20px !important;
        }
    }
}

@media screen and (max-width: 426px){
    .section-title{
        width: 100% !important;
        h2{
            margin-top: 30px;
            font-size: 20px !important;
            line-height: 20px !important;
            padding-bottom: 50px !important;
            &::before{
                margin-bottom: 20px !important;
            }
        }
        p{
            font-size: 12px !important;
            line-height: 16px !important;
        }
    }
}


.faqs{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 100px;
    .faq{
        width: 550px;
        padding: 0 40px 40px 0;
        margin-bottom: 20px;
        div{
            display: flex;
            h2{
                font-size: 22px;
                font-weight: 600;
                color: black;
                margin-bottom: 20px;     
            }
            i{
                color: #FFBA00;
                font-size: 25px;
                margin-right: 10px;
            }  
        }
        p{
            margin-left: 40px;
            font-size: 16px;
            font-weight: 400;
            color: rgb(156, 156, 156);
        }
    }
}



@media screen and (max-width: 1024px){
    .faqs{
        .faq{
            width: 800px;
            padding-right: 0;
            p{
                text-align: right;
            }
        }    
    }
}

@media screen and (max-width: 426px){
    .faqs{
        .faq{
            div{
                h2{
                    font-size: 18px;
                }
            }
            p{
                text-align: left;
                font-size: 14px;
            }
        }    
    }
}

@media screen and (max-width: 321px){
    .faqs{
        .faq{
            div{
                h2{
                    font-size: 15px;
                }
            }
            p{
                text-align: left;
                font-size: 13px;
            }
        }    
    }
}





footer{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 80px 0 !important;
    background-color: black;
    .footer{
        display: flex;
        &__logo{
            width: 315px;
            margin-right: 40px;
            .logo{
                color: #c59614;
                font-weight: 700;
                font-size: 30px;
            }
            .footer-about{
                color: white;
                font-size: 14px;
                line-height: 24px;
                font-weight: 400;
                margin-top: 20px;
            }
        }
        &__pages{
            width: 230px;
            h2{
                font-size: 20px;
                font-weight: 600;
                line-height: 35px;
                color: white;
                margin-bottom: 15px;
            }
            ul{
                li{
                    line-height: 35px;
                    a{
                        font-size: 16px;
                        line-height: 24px;
                        font-weight: 400;
                        color: white;
                        &:hover{
                            color: #FFBA00;
                        }
                    }
                }
            }
        }
        &__about{
            width: 275px;
            ul{
                li{
                    &:not(:last-child){
                        margin-bottom: 35px;
                    }
                    h2{
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 35px;
                        color: white;
                        margin-bottom: 15px;
                    }
                    span{
                        font-size: 16px;
                        line-height: 24px;
                        font-weight: 400;
                        color: white;
                        i{
                            margin-right: 5px;
                            font-size: 16px;
                            color: #FFBA00;
                        }
                    }
                }
            }
        }
        &__social{
            ul{
                li{
                    &:not(:last-child){
                        margin-bottom: 35px;
                    }
                    h2{
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 35px;
                        color: white;
                        margin-bottom: 15px;
                    }
                    span{
                        font-size: 16px;
                        line-height: 24px;
                        font-weight: 400;
                        color: white;
                        i{
                            margin-right: 5px;
                            font-size: 16px;
                            color: #FFBA00;
                        }
                    }
                    .social-links{
                        height: 0px;
                        display: flex;
                        li{
                            &:not(:last-child){
                                margin-right: 30px;
                            }
                            a{
                                i{
                                    font-size: 20px;
                                    color: #FFBA00;
                                    &:hover{
                                        color: white;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 769px) {
    .footer{
        display: block !important;
        &__logo{
            width: 100% !important;
            margin-bottom: 50px !important;
            padding-bottom: 50px !important;
            border-bottom: 1px solid white;
        }
        &__pages{
            width: 100% !important;
            margin-bottom: 50px !important;
            border-bottom: 1px solid white;
            padding-bottom: 50px !important;
        
        }
        &__about{
            width: 100% !important;
            padding-bottom: 50px !important;
            margin-bottom: 50px !important;
            border-bottom: 1px solid white;

        }
        &__social{
            padding-bottom: 50px !important;
            width: 100% !important;
            border-bottom: 1px solid white;

        }
    }
        .content{
            h1{
               font-size: 35px !important;
            }
            p{
                font-size: 15px !important;
            }
        }

    .about-us-index{
        display: block !important;
        .left-aside-about-us{
            width: 100% !important;
        }
        .right-aside-about-us{
            width: 100%;
            margin-top: 25px;
        }
    }

    .section-title{
        text-align: center;
        width: 400px;
        margin: 0 auto;
        h2{
            font-size: 35px;
            line-height: 35px;
            font-weight: 600;
            position: relative;
            padding-bottom: 70px;
            color: white;
            &::before{
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                height: 4px;
                width: 130px;
                background-color: #FFBA00;
                margin-bottom: 40px;
            }
        }
        p{
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            color: rgb(192, 192, 192);
            margin-bottom: 30px;
        }
        
    }

}


@media screen and (max-width: 580px){
    header{
        .container{
            padding: 0px !important;
            margin: 0px !important;
            width: 100% !important;
        }
    }
    nav{ 

        margin: 0px !important;
        width: 100% !important;
        position: static !important;
        ul{
            text-align: center;
            width: 100%;
            display: block !important;
            justify-content: space-evenly;
            align-items: center;
            background-color: #f8c12c;
            border-radius: 5px;
            li{
                width: 100% !important;
            padding: 15px 0;
                transition: all .5s ease;
                &:hover{
                    background-color: black;
                    color: white;
                }
               font-weight: 500;
               font-size: 20px;
               color: black; 
               font-family: 'Fraunces', serif;
            }
        }
    }

    section{
        .content{
            h1{
               font-size: 25px !important;
            }
            p{
                font-size: 14px !important;
            }
        }
    }


    .about-cards-index{
        margin-bottom: 100px;
        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            li{
                text-align: center;
                width: 100% !important;
                height: 250px;
                border-radius: 7px;
                background-color: #ffbc02;
                .about-us-index-icon{
                    img{
                        margin-top: 40px;
                        width: 100px;
                        height: 100px;
                        padding: 15px;
                        border: 2px solid white;
                        border-radius: 50%;
                    }
                }
                span{
                color: white;
                    font-size: 25px;
                }
            }
        }
    }

}